<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>MODIFICA</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">        
    <nav class="navbar navbar-dark">  
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/compara">Compara</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/puntos">Puntos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/quiniela">Quiniela</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/paises">Paises</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/estadios">Estadios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/partidos">Partidos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/acceso">Acceso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/participantes">Participantes</a>
              </li>
            </ul>
          </div>
        </div>                               
            </ul>
          </div>
        </div>
      </nav>

      <% if (user) { %>
      <div class="container mt-4">
          
          <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/participantes_update" method="POST">
                         <input id="Id_participante" name="Id_participante" value="<%= user.Id_participante %>" hidden>
                        <div class="mb-3">
                          <label for="Id_folder" class="form-label">FOLDER</label>
                          <input type="text" class="form-control" id="Id_folder" name="Id_folder" tabindex="1" value="<%= user.Id_folder  %>">                                            
                        </div>
                        <div class="mb-3">
                          <label for="Nombre" class="form-label">NOMBRE</label>
                          <input type="text" class="form-control" id="Nombre" name="Nombre" tabindex="1" value="<%= user.Nombre  %>">                                            
                        </div>    
                                                              
                        <div class="mb-3">
                          <label for="Pass" class="form-label">PASS</label>
                          <input type="text" class="form-control" id="Pass" name="Pass" tabindex="1" value="<%= user.Pass  %>">                                            
                        </div>                                                              
   
                        <div class="mb-3">
                          <label for="Pago" class="form-label">PAGO</label>
                          <input type="text" class="form-control" id="Pago" name="Pago" tabindex="1" value="<%= user.Pago  %>">                                            
                        </div>                                                              
                                         
                        <div class="mb-3">
                          <label for="Estatus" class="form-label">ESTATUS</label>
                          <input type="text" class="form-control" id="Estatus" name="Estatus" tabindex="1" value="<%= user.Estatus  %>">                                            
                        </div>         
                                                                           
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/participantes" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>